/* Wildcard selector to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: red;
}

/* Main */
main {
    background-color: yellow;
}

/* Footer */
footer {
    background-color: green;
}